{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            {% if message_name %}
                <section>
                <h2 style="text-align: center;">Thanks {{ message_name}}!</h2>

                <p style="text-align: center;">
                    we received your email and will respond shortly...</p>
                </section>

            {% else %}
          <h2 class="form-title">Contact Us</h2>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form id="contact-form" name="myForm" class="form" onsubmit="return validateForm()"  method="POST"  role="form" enctype="multipart/form-data" action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="form-label" id="nameLabel" for="name"></label>
                    <input type="text" class="form-control" id="name" name="message_name" placeholder="Your Name" tabindex="1">
                </div>

                <div class="form-group">
                    <label class="form-label" id="emailLabel" for="email"></label>
                    <input type="email" class="form-control" id="email" name="message_email" placeholder="Your Email" tabindex="2">
                </div>

                <div class="form-group">
                    <label class="form-label" id="subjectLabel" for="sublect"></label>
                    <input type="text" class="form-control" id="subject" name="message_subject" placeholder="Subject" tabindex="3">
                </div>

                <div class="form-group">
                    <label class="form-label" id="messageLabel" for="message"></label>
                    <textarea rows="6" cols="60" name="message" class="form-control" id="message" placeholder="Your message" tabindex="4"></textarea>                                 
                </div>

                <div class="text-center margin-top-25">
                    <button type="submit" class="btn btn-mod btn-border btn-large">Send Message</button>
                </div>

            </form><!-- End form -->
          
        </div><!-- End col -->

    </div><!-- End row -->
    
  </div><!-- End container -->

{% endif %}

{% endblock %} 