{% extends 'admin/admindashboard.html' %}

{% block content %}

{% load static %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h6 class="panel-title" style="font-size:2rem; text-align:center; margin-top:50px;">Total Customer List</h6>
    </div>
    <table class="table table-hover" id="dev-table" style="background-image: linear-gradient(to right top, #a4a4a4, #adabad, #b8b1b4, #c3b8b8, #cdbfba, #cec1ba, #cfc4ba, #cfc6bb, #cbc3b9, #c6c1b8, #c2beb6, #bebbb5);">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Name</th>
                <th>Email</th>
                <th>Delete</th>
            </tr>
        </thead>
        {% for c in users %}
        <tr>
            <td> {{c.username}}</td>
            <td> {{c.first_name}}</td>
            <td>{{c.email}}</td>
            <td><a class="btn btn-danger btn-xs" href="#"><span class="glyphicon glyphicon-trash"></span></a></td>

        </tr>
        {% endfor %}
    </table>

    <!-- PAGINATION STARTS -->
    <nav aria-label="..." class="container pt-5">
        {% if users.has_other_pages %}
        <ul class="pagination">
            {% if users.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ users.previous_page_number }}"><i
                        class="fas fa-angle-left"></i></a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link"><i class="fas fa-angle-left"></i></a>
            </li>
            {% endif %}

            {% for i in users.paginator.page_range %}
            {% if users.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}

            {% if users.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ users.next_page_number }}"><i
                        class="fas fa-angle-right"></i></a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link"><i class="fas fa-angle-right"></i></a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
    <!-- PAGINATION ENDS -->
</div>

{% endblock %}