{% extends 'admin/admindashboard.html' %}

{% block content %}

{% load static %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h6 class="panel-title" style="font-size:2rem; text-align:center; margin-top:50px;">Total Product List</h6>
    </div>
    <table class="table table-hover" id="dev-table" style="background-image: linear-gradient(to right top, #a4a4a4, #adabad, #b8b1b4, #c3b8b8, #cdbfba, #cec1ba, #cfc4ba, #cfc6bb, #cbc3b9, #c6c1b8, #c2beb6, #bebbb5);">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Details</th>
                <th>Product Price</th>
                <th>Product image</th>
            </tr>
        </thead>
        {% for p in product %}
        <tr>
            <td> {{p.product_name}}</td>
            <td>{{p.product_details}}</td>
            <td>{{p.product_price}}</td>
            <td>{{p.product_image}}</td>
            <td><a class="btn btn-danger btn-xs" href="/product/edit_product/{{p.product_id}}"><span class="glyphicon glyphicon-trash"></span>edit</a></td>
            <td><a class="btn btn-danger btn-xs" href="/product/delete_product/{{p.product_id}}"><span class="glyphicon glyphicon-trash"></span>Delete</a></td>

        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'form' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
        class="btn btn-secondary">Add Products</i></a>

    <!-- PAGINATION STARTS -->
    <nav aria-label="..." class="container pt-5">
        {% if users.has_other_pages %}
        <ul class="pagination">
            {% if users.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ users.previous_page_number }}"><i
                        class="fas fa-angle-left"></i></a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link"><i class="fas fa-angle-left"></i></a>
            </li>
            {% endif %}

            {% for i in users.paginator.page_range %}
            {% if users.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}

            {% if users.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ users.next_page_number }}"><i
                        class="fas fa-angle-right"></i></a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link"><i class="fas fa-angle-right"></i></a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
    <!-- PAGINATION ENDS -->
</div>

{% endblock %}