{% extends 'admin/admindashboard.html' %}

{% block content %}

{% load static %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h6 class="panel-title"style="font-size:2rem; text-align:center; margin-top:50px;">Total Customer List</h6>
    </div>
    <table class="table table-hover" id="dev-table" style="background-image: linear-gradient(to right top, #a4a4a4, #adabad, #b8b1b4, #c3b8b8, #cdbfba, #cec1ba, #cfc4ba, #cfc6bb, #cbc3b9, #c6c1b8, #c2beb6, #bebbb5);">
        <thead>
            <tr>
                <th>Booking Id</th>
                <th>Product ID</th>
                <th>Customer Name</th>
                <th>Phone Number</th>
                <th>Date</th>
                <th>Location</th>
            </tr>
        </thead>
        {% for b in booking %}
        <tr>
            <td> {{b.Mbooking_id}}</td>
            <td> {{b.product_name_id}}</td>
            <td> {{b.your_name}}</td>
            <td>{{b.phone_number}}</td>
            <td>{{b.date}}</td>
            <td>{{b.location}}</td>
            <td><a class="btn btn-danger btn-xs" href="#"><span class="glyphicon glyphicon-trash"></span></a></td>

        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}