{% load static %}
<!-- Footer -->
<div class="footer">
  <div class="inner-footer">

    <!--  for company name and description -->
    <div class="footer-items">
      <a href="{% url 'home' %}"><img src="/static/images/logo.png" /></a>
      <p>Be the first who learns about our
        great promotions!</p>
    </div>

    <!--  for quick links  -->
    <div class="footer-items">
      <h3>Quick Links</h3>
      <div class="border1"></div>
      <!--for the underline -->
      <ul>
        <a href="{% url 'home' %}">
          <li>Home</li>
        </a>
        <a href="{% url 'blog' %}">
          <li>Blogs</li>
        </a>
        <a href="{% url 'contact' %}">
          <li>Contact</li>
        </a>
        <a href=""{% url 'about' %}"">
          <li>About</li>
        </a>
      </ul>
    </div>

    <!--  for some other links -->
    <div class="footer-items">
      <h3 style="margin-right: 350px;">Help</h3>
      <div class="border1"></div>
      <!--for the underline -->
      <ul>
        <a href="#">
          <li>FAQ</li>
        </a>
        <a href="#">
          <li>Help Center</li>
        </a>
        <a href="#">
          <li>Privacy Policy</li>
        </a>
        <a href="#">
          <li>Terms of Service</li>
        </a>
      </ul>
    </div>

    <!--  for contact us info -->
    <div class="footer-items">
      <h3>Contact us</h3>
      <div class="border1"></div>
      <ul>
        <li><i class="fa fa-map-marker" aria-hidden="true"></i>XYZ, abc</li>
        <li><i class="fa fa-phone" aria-hidden="true"></i>123456789</li>
        <li><i class="fa fa-envelope" aria-hidden="true"></i>xyz@gmail.com</li>
      </ul>

      <!--   for social links -->
      <div class="social-media">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-google-plus-square"></i></a>
      </div>
    </div>
  </div>
  <hr class="line">
  <div class="footer-bottom">
    Copyright &copy; Gymkhana 2021.
  </div>
</div>