{% load static%}
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="/static/images/logo.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="background: #242323;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}" style="color: white;
                padding-top: 1px;">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'product' %}"style="color: white;
                padding-top: 1px;">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog' %}"style="color: white;
                padding-top: 1px;">Blogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}"style="color: white;
                 padding-top: 1px; ">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}"style="color: white;
                 padding-top: 1px;">Contact Us</a>
            </li>
        </ul>
        {% comment %} <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{% url 'cart' %}"><i class="fa fa-shopping-cart fa-2x" style="color: white "></i></a>
            </li>
        </ul> {% endcomment %}
        {% if request.user.is_authenticated %}+
        <div class="dropdown">
            <a class="fa fa-user fa-2x dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white; cursor:pointer;"></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
                <a class="dropdown-item disabled" href="#" style="color:white;">Hello,<br>{{ user.username }}</a>
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                <a href="javascript:{document.getElementById('logout').submit()}" class="dropdown-item"><i class="fa fa-sign-out"></i>Logout</a>
    
                <form id="logout" action="{% url 'logout' %}" method="POST">
    
                {% csrf_token %}
    
                <input type="hidden">
    
                </form>
            </div>
        </div>
        {% else %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{% url 'login' %}"><i class="fa fa-user fa-2x" style="color: white "></i></a>
            </li>
        </ul>
        {% comment %} <a class="fa fa-user fa-2x" href="{% url 'login' %}"></a> {% endcomment %}
        {% comment %} <div class="dropdown">
            <a class="fa fa-user fa-2x dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white; cursor:pointer;"></a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
              <a class="dropdown-item" href="{% url 'adminlogin' %}">Admin</a>
              <a class="dropdown-item" href="{% url 'login' %}">User</a>
            </div>
        </div> {% endcomment %}
        {% endif %}
    </div>
</nav>